HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.planning/*
!.planning/
!.planning/PROJECT.md
!.planning/REQUIREMENTS.md
!.planning/ROADMAP.md
!.planning/STATE.md
!.planning/config.json
!.planning/codebase/
!.planning/codebase/**
!.planning/research/
!.planning/research/**
!.planning/phases/
!.planning/phases/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

.env*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
